
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/Home_Layout.cshtml";
}

    <div class="login-form">
        <div class="loading"></div>
        <h4>Reset password?</h4>
        <form class="form" method="POST">
            <input name="__RequestVerificationToken" type="hidden" value="">
            <div class="line-Box">
                <div class="line-Bar"></div>
            </div>
            <div class="row">
                <div class="row">
                    <div class="col-12 mb-3">
                        <label class="control-label">New Password</label>
                        <input class="form-control" id="password" name="Password" type="password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 mb-3">
                        <label class="control-label">Confirm password</label>
                        <input class="form-control" id="CnfPassword" name="ConfirmPassword" type="password">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-forget d-block text-center">
                        <input type="button" id="btnsubmit" class="btn Button-primary float-none" value="Submit">
                    </div>
                </div>
            </div>
        </form>
    </div>

<script>

    $(document).ready(function () {
        // $('.loading').hide();
        var url_string = window.location.href
        var url = new URL(url_string);
        var passcode = url.searchParams.get("code");
        var EmailId = url.searchParams.get("username");

        $('#btnsubmit').click(function () {
            $(".error-div").remove();
            var Password = $('#password').val();
            var confirmPassword = $('#ConfirmPassword').val();
   
            if (Password == '') {
                $("#password").focus();
                $("#password").after('<span class="error-div row" style="color:red;">*Enter the New Password!</span>');
                return false;
            }
            else if (CnfPassword == '') {
                $("#CnfPassword").focus();
                $("#CnfPassword").after('<span class="error-div row"  style="color:red;>*Enter the confirm Password!</span>');
                return false;
            } else if ($('#CnfPassword').val() != $('#password').val()) {
                $("#CnfPassword").focus();
                $("#CnfPassword").after('<span class="error-div row"  style="color:red;>*Your password did not matched.Please Try again!</span>');
                return false;
            }
            else if (Password != '') {
                var Userdata = {
                    Password: Password,
                    Code:passcode,
                    Email:EmailId
                };
                debugger
                $.ajax({
                    type: "POST",
                    url: "/api/Account/ResetPassword",
                    data: Userdata,
                    contentType: "application/x-www-form-urlencoded",
                    dataType: "json",
                    beforeSend: function () {
                        $('.loading').show();
                    },
                    complete: function () {
                        $('.loading').hide();
                    },
                    success: function (data) {
                        if (data.Status == '1') {
                            toastr.success(data.Message);
                            window.location.href = "/Home/Login";
                        }
                        else {
                            toastr.error("Reset Password Failed");
                        }
                    },
                    failure: function (response) {
                        toastr.error(response.responseText);
                    },
                    error: function (response) {
                        toastr.error(response.responseText);
                    }

                });


            }
        });
    });

</script>
