
@{
    ViewBag.Title = "AssignTask";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
}
<link href="~/Content/fancybox/css/jquery.fancybox.css" rel="stylesheet" />
<link href="~/Content/fancybox/css/jquery.fancybox.min.css" rel="stylesheet" />
<script src="~/Content/fancybox/js/jquery.fancybox.js"></script>
<link href="~/Content/layout.css" rel="stylesheet" />

<style>
    * {
        box-sizing: border-box;
    }

    .column {
        float: left;
        width: 33.33%;
        padding: 5px;
    }

    /* Clearfix (clear floats) */
    .row::after {
        content: "";
        clear: both;
        display: table;
    }
</style>

<div class="bread-Box">
    <div class="container-fluid">
        <div class="bread-Bar row">
            <div class="bread-list col-12">
                <div class="bread-content">
                    <h2>Assign Task Details</h2>
                    <ul>
                        <li>
                            <a href="dashboard.html">Dashboard</a>
                            <span class="bread-span"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);">TaskDetails</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="assign-Box">
    <div class="container">
        <div class="assign-Bar row">
            <div class="assign-list col-md-6">
                <div class="assign-comman">
                    <label>Task Name :-</label>
                    <label class="label-edit" for="" id="taskname"></label>
                </div>
            </div>
            <div class="assign-list col-md-6">
                <div class="assign-comman">
                    <label>Project Name :-</label>
                    <label class="label-edit" for="" id="projectname"></label>
                </div>
            </div>
            <div class="assign-list col-md-6">
                <div class="assign-comman">
                    <label>Device Type :-</label>
                    <label class="label-edit" for="" id="devicetype"></label>
                </div>
            </div>

            <div class="assign-list col-md-6">
                <div class="assign-comman">
                    <label>Created Date :-</label>
                    <label class="label-edit" for="" id="createdDate"></label>
                </div>
            </div>
            <div class="assign-list col-md-6">
                <div class="assign-comman">
                    <label>Status :-</label>
                    <label class="label-edit" for="" id="status"></label>
                </div>
            </div>
            <div class="assign-list col-md-12">
                <div class="assign-comman">
                    <label>Description :-</label>
                    <label class="label-edit assign-description" for="" id="description"></label>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="agallery-Box">
    <div class="">
        <div class="agallery-Bar row" id="show_images">

        </div>
    </div>
</div>

<form class="form-group row" method="POST">
    <div class="col-lg-4">
        <div class="form-group">
            Assign User Name:
            <select id="ddlUser" title="Please select User" name="ddlUser" class="form-control">
                <option value=" ">Select UserName</option>
            </select>
        </div>
    </div>
    <div class="col-lg-12 mt-3">
        <input type="button" id="btnAssign" class="btn btn-primary btn-round waves-effect waves-light" value="Assign">
    </div>
</form>

<script>

    $(document).ready(function () {



         var ddlusers = $("#ddlUser");
            ddlusers.empty().append('<option selected="selected" value="0" disabled = "disabled">Loading.....</option>');
            $.ajax({
                type: "POST",
                url: "/AssignTask/GetUserlist",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    ddlusers.empty().append('<option selected="selected" value="0">Please select</option>');
                    $.each(response, function () {
                        ddlusers.append($("<option></option>").val(this['Value']).html(this['Text']));
                    });
                },
                failure: function (response) {
                    alert(response.responseText);
                },
                error: function (response) {
                    alert(response.responseText);
                }
            });



        var ID = localStorage.getItem("TaskID");
        viewtask(ID);
        function viewtask(ID) {
            var url = '@Url.Content("~/")' + "Task/viewtaskbyId";
            $.post(url, { taskId: ID }, function (data) {
                console.log(data);
                if (data.Status == '1') {
                    $('#taskname').text(data.Taskdetails[0].TaskName);
                    $('#projectname').text(data.Taskdetails[0].projectname);
                    $('#devicetype').text(data.Taskdetails[0].Devicetype);
                    $('#description').text(data.Taskdetails[0].description);
                    $('#createdDate').text(data.Taskdetails[0].Createdon);
                       if (data.Taskdetails[0].status == "1") {
                $('#status').text("Open");
              $('#Status').text("Open");
                }
                else if (data.Taskdetails[0].status == "2") {
                    $('#status').text("Re-Open");
                   $('#Status').text("Re-Open");
                }
                else {

                    $('#status').text("Completed");
                  $('#Status').text("Completed");
                }

                    $.each(data.taskImage, function () {
                        var img = "http://52.49.109.172" + this.imageName;

                         $('<div/>').addClass("agallery-list col-md-3").prepend($('<div/>').prepend($('<a/>').attr('href', "" + img + "").attr("data-fancybox","agallery").prepend($('<img />').attr('src', "" + img + "").width('183px').height('183px').css("margin-left", "14px").css("margin-bottom", "14px")))).appendTo($('#show_images'));

                    });
                }
                else {
                    alert("There is no data");
                }
            });
        }

          $('#btnAssign').click(function () {

            var userId =$("#ddlUser :selected").val();
            var taskid=localStorage.getItem("TaskID");
            if (userId == '') {
                $("#ddlUser").focus();
                $("#ddlUser").after('<span class="error-div row">*Please select User Name!</span>');
                return false;
            }

            else if (userId != '') {

                var assignuserdetails = {
                    "toassignId": userId,
                    "taskId": taskid,

                };
                $.ajax({
                    url: '/AssignTask/AssignTaskbyUserId',
                    type: 'POST',
                    dataType: 'json',
                    data: assignuserdetails,

                    success: function (result, textStatus, xhr) {

                        if (result.Status == '1') {
                          window.location.href = "/AssignTask/AssignTasklist";
                        }

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                });
            }
        });
    });




</script>
