@model  IEnumerable<PMS.Models.AttendanceModel>
@using PMS.Models;




@{
    ViewBag.Title = "All";
    Layout = "~/Views/Shared/DashboardLayout.cshtml";
    List<AspNetUser> Employees = TempData["Employees"] as List<AspNetUser>;
    string startDate = TempData["Start"] as string;
    string endDate = TempData["end"] as string;


}

<link rel="stylesheet" href="~/Template/vendor/bootstrap/css/bootstrap.min.css">
<link rel="stylesheet" href="~/Template/vendor/datatables/css/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="~/Scripts/datetimexdsoft/build/jquery.datetimepicker.min.css">
<link href="~/Template/vendor/datatables/css/buttons.dataTables.min.css" rel="stylesheet" />
<script src="~/Template/vendor/datatables/js/jquery.dataTables.min.js"></script>
<script src="~/Template/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>

<script src="~/Scripts/datetimexdsoft/build/jquery.datetimepicker.full.min.js"></script>

<script src="~/Template/vendor/datatables/js/dataTables.buttons.min.js"></script>
<script src="~/Template/vendor/datatables/js/jszip.min.js"></script>
<script src="~/Template/vendor/datatables/js/pdfmake.min.js"></script>
<script src="~/Template/vendor/datatables/js/vfs_fonts.js"></script>
<script src="~/Template/vendor/datatables/js/buttons.print.min.js"></script>
<script src="~/Template/vendor/datatables/js/buttons.html5.min.js"></script>
<script src="~/Template/vendor/datatables/js/dataTables.bootstrap4.min.js"></script>
<script src="~/Template/vendor/datatables/js/buttons.colVis.min.js"></script>
<script src="~/Template/vendor/js/jquery.table2excel.min.js"></script>


<div class="bread-Box">
    <div class="container-fluid">
        <div class="bread-Bar row">
            <div class="bread-list col-12">
                <div class="bread-content">
                    <h2>Employee Attendance</h2>
                    <ul>
                        <li>
                            <a href="dashboard.html">Dashboard</a>
                            <span class="bread-span"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
                        </li>
                        <li class="active">
                            <a href="javascript:void(0);">Employee Attendance</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group">
        <div class="col-md-12">
            Select Employee
        </div>
    </div>
</div>


<div class="row">

    <div class="col-md-3">
        @Html.DropDownList("Employee",
            (IEnumerable<SelectListItem>)TempData["Employees"],
            "All Employee",
            new { @class = "form-control", onchange = "SelectEmployeeData()" })
    </div>
    <div class="col-md-3">
        <input id="start" name="start" class="form-control datapiker" placeholder="Start" value="@startDate" />

    </div>
    <div class="col-md-3">

        <input class="form-control datapiker" id="end" name="end" placeholder="End" value="@endDate" />
    </div>

    <div class="col-md-3">

        <input type="submit" id="Btnsearch" value="Search" class="btn btn-primary" />
    </div>

    <div class="myattendance-Part table-Box" id="attandance">
        <div class="container-fluid">
            <div class="table-Bar row">
                <div class="table-list col-12">
                    <div class="table-head d-none">
                        <h6>Employee Attendance:</h6>
                        <a href="javascript:void(0);">Employee Attendance</a>
                    </div>
                    <div class="table-comman">
                        <div class="table-responsive">
                            <input type="submit" value="Export To Excel" id="btnExportToExcel1" />
                      
                            <table class="table-data table table-bordered" id="AttandanceTable" width="100%" cellspacing="0">

                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Coming Time</th>
                                        <th>Leave Time</th>
                                        <th>Late Time</th>
                                        <th>Working Hours</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="myattendance-Part table-Box" id="attandance1">
        <div class="container-fluid">
            <div class="table-Bar row">
                <div class="table-list col-12">
                    <div class="table-head d-none">
                        <h6>Employee Attendance</h6>
                        <a href="javascript:void(0);">Employee Attendance</a>
                    </div>
                    <div class="table-comman">
                        <div class="table-responsive">
                            <input type="submit" value="Export To Excel" id="btnExportToExcel2" />
                       
                            <table class="table-data table table-bordered" id="AttandanceTable1" width="100%" cellspacing="0">

                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Date</th>
                                        <th>Coming Time</th>
                                        <th>Leave Time</th>
                                        <th>Late Time</th>
                                        <th>Working Hours</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <script type="text/javascript">
        $(function () {
            $(".datapiker").datetimepicker({
                format: 'm/d/Y'
            });
        });
   

        $(function ()  {
            $('#btnExportToExcel1').click(function () {
                  var EmployeeId =$("#Employee :selected").val();
                  var StartDate =$('#start').val();
                  var EndDate = $('#end').val();
             window.location.href = '/Attandance/ExportToExcel/?stratdate='+StartDate+'&&enddate='+EndDate+'&&employeeId='+EmployeeId;
            });
         $('#btnExportToExcel2').click(function () {
                  var EmployeeId =$("#Employee :selected").val();
                  var StartDate =$('#start').val();
                  var EndDate = $('#end').val();
             window.location.href = '/Attandance/ExportToExcel/?stratdate='+StartDate+'&&enddate='+EndDate+'&&employeeId='+EmployeeId;
        });
    });
    </script>

    <script>
    var data;
    var token = sessionStorage.getItem('access_token');

    data=@Html.Raw(Json.Encode(Model));
    AllEmployeeAttendanceTable(data);
    console.log(data);
       function AllEmployeeAttendanceTable(data) {
         $("#attandance1").show();
        $("#attandance").hide();
        var data = data;
           table = $('#AttandanceTable1').dataTable({

            processing: true,
            paging: true,
            sort: true,
            searching: true,
            lengthMenu: [[50,100,500,1000], [50,100,500,1000]],
            //scrollY: 200,
            data: data,
            bDestroy: true,

            columns: [
                { "data": "ID", "autoWidth": true, "visible": false },
                { "data": "EmpName", "autoWidth": true },
                   { "data": "dateofday", "autoWidth": true
                },
                { "data": "comingtime", "autoWidth": true
                },
                { "data": "leavetime", "autoWidth": true
                },
                { "data": "LateTime", "autoWidth": true,"render":function (data, type, row) {
                                    var date ="<span style='color:red;font-size:14px;'>"+ data+"</span>";
                                    return date;
                } },
                { "data": "WorkingHours", "autoWidth": true },
                {
                    "data": "AttandanceStatus", "autoWidth": true,"render":
                                    function (data, type, row) {

                              if (row.AttandanceStatus == "A") {
                                    var Att = "<span style='color:red;font-size:14px;'>" +data + "</span>";
                                    return Att;
                                }
                                else if (row.AttandanceStatus == "P") {
                                    var Att = "<span style='color:green;font-size:14px;'>" + data + "</span>";
                                    return Att;
                                }
                                else if (row.AttandanceStatus == "L") {
                                    var Att = "<span style='color:red;font-size:14px;'>" + data + "</span>";
                                    return Att;
                                }

                                    }

                },

                {
                    "data": null, render: function (data, type, row) {

                        return "<a href='/Attandance/Edit/" + row.ID + "' class='btn btn-primary' >Edit</a>&nbsp&nbsp<a href='/Attandance/Delete/" + row.ID + "' class='btn btn-danger' >Delete</a>";


                    }
                },
               ],
        //         dom: 'lBfrtip',
        //          buttons: [
        //    {
        //        extend: 'copyHtml5',
        //        exportOptions: {
        //            columns: [ 0, ':visible' ]
        //        }
        //    },
        //    {
        //        extend: 'excelHtml5',
        //        exportOptions: {
        //            columns: ':visible'
        //        }
        //             },
        //      {
        //    extend: 'print',
        //    text: window.printButtonTrans,
        //    exportOptions: {
        //        columns: ':visible'
        //    }
        //             },
        //       {
        //    extend: 'csv',
        //    text: window.csvButtonTrans,
        //    exportOptions: {
        //        columns: ':visible'
        //    }
        //},
        //    {
        //        extend: 'pdfHtml5',
        //        exportOptions: {
        //            columns: [ 0, 1, 2, 5 ]
        //        }
        //    },
        //    'colvis'
        //],
        });
    }

    function EmployeeAttendanceTable(data) {
         $("#attandance1").hide();
        $("#attandance").show();
        var data = data;
        table2 = $('#AttandanceTable').dataTable({

            processing: true,
            paging: true,
            sort: true,
            searching: true,
            lengthMenu: [[50, 100, 500, 1000], [50, 100, 500, 1000]],

            data: data,
            bDestroy: true,

            columns: [
                { "data": "ID", "autoWidth": true, "visible": false },
                { "data": "EmpName", "autoWidth": true },
                {
                    "data": "dateofday", "autoWidth": true
                },
                {
                    "data": "comingtime", "autoWidth": true
                },
                {
                    "data": "leavetime", "autoWidth": true
                },
                {
                    "data": "LateTime", "autoWidth": true, "render": function (data, type, row) {
                        var date = "<span style='color:red;font-size:14px;'>" + data + "</span>";
                        return date;
                    }
                },
                { "data": "WorkingHours", "autoWidth": true },
                {
                    "data": "AttandanceStatus", "autoWidth": true, "render":
                        function (data, type, row) {

                            if (row.AttandanceStatus == "A") {
                                var Att = "<span style='color:red;font-size:14px;'>" + data + "</span>";
                                return Att;
                            }
                            else if (row.AttandanceStatus == "P") {
                                var Att = "<span style='color:green;font-size:14px;'>" + data + "</span>";
                                return Att;
                            }
                            else if (row.AttandanceStatus == "L") {
                                var Att = "<span style='color:red;font-size:14px;'>" + data + "</span>";
                                return Att;
                            }

                        }

                },

                {
                    "data": null, render: function (data, type, row) {

                        return "<a href='/Attandance/Edit/" + row.ID + "' class='btn btn-primary' >Edit</a>&nbsp&nbsp<a href='/Attandance/Delete/" + row.ID + "' class='btn btn-danger' >Delete</a>";


                    }
                },
            ],
        //    dom: 'lBfrtip',
        //    buttons: [
        //        {

        //        extend: 'copyHtml5',
        //        exportOptions: {
        //            columns: [0, ':visible']

        //        }
        //    },
        //    {
        //        extend: 'excelHtml5',
        //        exportOptions: {
        //            columns: ':visible'
        //        }
        //             },
        //      {
        //    extend: 'print',
        //    text: window.printButtonTrans,
        //    exportOptions: {
        //        columns: ':visible'
        //    }
        //             },
        //       {
        //    extend: 'csv',
        //    text: window.csvButtonTrans,
        //    exportOptions: {
        //        columns: ':visible'
        //    }
        //},
        //    {
        //        extend: 'pdfHtml5',
        //        exportOptions: {
        //            columns: [ 0, 1, 2, 5 ]
        //        }
        //    },
        //    'colvis'
        //],
        });

    }

          $('#Btnsearch').click(function () {

            var EmployeeId =$("#Employee :selected").val();
            var StartDate =$('#start').val();
            var EndDate = $('#end').val();

          if (StartDate == '') {
                $("#start").focus();
                $("#start").after('<span class="error-div row">*Please Enter Start Date!</span>');
                return false;
            }
                else if (EndDate == '') {
                $("#end").focus();
                $("#end").after('<span class="error-div row">*Please Enter End Date!</span>');
                return false;
            }
            else if (StartDate != '') {

                var UserFilterData = {
                    "Employee": EmployeeId,
                    "start": StartDate,
                    "end": EndDate
              };
              console.log(UserFilterData);
                $.ajax({
                    url: '/api/EmployeeAttandance/SearchAttandanceByUser',
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/x-www-form-urlencoded",
                    data: UserFilterData,
                    headers: {
                             'Authorization': "bearer  " +token
                      },

                    success: function (result, textStatus, xhr) {

                        if (result.Status == '1') {
                            EmployeeAttendanceTable(result.result);
                        }

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                });
            }
          });

    function SelectEmployeeData() {
          var StartDate =$('#start').val();
            var EndDate = $('#end').val();

          var EmployeeId =$("#Employee :selected").val();

                var UserFilterData = {
                    "Employee": EmployeeId,
                    "start":StartDate,
                    "end": EndDate
                };
                $.ajax({
                    url: '/api/EmployeeAttandance/SearchAttandanceByUser',
                    type: 'POST',
                    dataType: 'json',
                    contentType: "application/x-www-form-urlencoded",
                    data: UserFilterData,
                    headers: {
                             'Authorization': "bearer  " +token
                      },

                    success: function (result, textStatus, xhr) {

                        if (result.Status == '1') {
                            EmployeeAttendanceTable(result.result);

                        }

                    },
                    error: function (xhr, textStatus, errorThrown) {
                        console.log('Error in Operation');
                    }
                });
            }


    </script>


