
<h2>Manager Menu</h2>
<ul>
    <li>
        <a href="/WebDevloper/Dashboard">
            <i class="fa fa-home sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span"> Dashboard</span>
        </a>
    </li>
    <li>
        <a href="/Admin/UserList">
            <i class="fa fa-file-text-o sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span">Employee List</span>
        </a>
    </li>
    <li>
        <a href="javascript:void(0);">
            <i class="fa fa-table sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span">Attendance Module</span>
            <cite class="fa-right"></cite>
        </a>
        <dl>
            <dd><a href="/Attandance/UserAttandace"><span class="sidenav-span">My Attendance</span></a></dd>
            <dd><a href="/Attandance/All"><span class="sidenav-span">Employee Attendance</span></a></dd>
        </dl>
    </li>
    <li>
        <a href="javascript:void(0);">
            <i class="fa fa-table sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span">Leave Module</span>
            <cite class="fa-right"></cite>
        </a>
        <dl>
            <dd><a href="/Leave/LeaveApply"><span class="sidenav-span">Apply Leave</span></a></dd>
            <dd><a href="/Leave/ApproveLeave"><span class="sidenav-span">Approve Leave</span></a></dd>
            <dd><a href="/Leave/LeaveType"><span class="sidenav-span">Leave Type</span></a></dd>
            <dd><a href="/Leave/LeaveAllowance"><span class="sidenav-span">Leave Allowance</span></a></dd>
            <dd><a href="/Leave/LeaveApproverMatrix"><span class="sidenav-span">Leave Approver Matrix</span></a></dd>
        </dl>
    </li>
    <li>
        <a href="javascript:void(0);">
            <i class="fa fa-table sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span">Office Expenses Modules</span>
            <cite class="fa-right"></cite>
        </a>
        <dl>
            <dd><a href="javascript:void(0);"><span class="sidenav-span">PMS Wallet</span></a></dd>
            <dd><a href="/Expense/Index"><span class="sidenav-span">Add Expenses</span></a></dd>
            <dd><a href="/Tag/Index"><span class="sidenav-span">Expense Title </span></a></dd>
            <dd><a href="allexpenseslist.html"><span class="sidenav-span">All Expenses List</span></a></dd>
        </dl>
    </li>
    <li>
        <a href="javascript:void(0);">
            <i class="fa fa-table sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span">Project Modules</span>
            <cite class="fa-right"></cite>
        </a>
        <dl>
            <dd><a href="/Project/AddProject"><span class="sidenav-span">Add Project</span></a></dd>
            <dd><a href="/Project/ProjectList"><span class="sidenav-span">Add Project List</span></a></dd>
            <dd><a href="/Task/Create"><span class="sidenav-span">Create Task</span></a></dd>
            <dd><a href="/Task/Tasklist"><span class="sidenav-span">Create Task List</span></a></dd>

            <dd><a href="/AssignTask/AssignTasklist"><span class="sidenav-span">Assign Task List</span></a></dd>
        </dl>
    </li>
    <li>
        <a href="/ChatHub/ChatPrivate">
            <i class="fa fa-comments-o" aria-hidden="true"></i>

            <span class="sidenav-span">Chat</span>
        </a>
    </li>
    <li>
        <a href="/Admin/ChangeUserRole">
            <i class="fa fa-key sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span">Assign Manager</span>
        </a>
    </li>
    <li>
        <a href="/Manage/ChangePassword">
            <i class="fa fa-key sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span">Change Password</span>
        </a>
    </li>

</ul>