
<h2>Admin Menu</h2>
<ul>
    <li>
        <a href="/WebDevloper/Dashboard">
            <i class="fa fa-home sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span"> Dashboard</span>
        </a>
    </li>

    <li>
        <a href="javascript:void(0);">
            <i class="fa fa-table sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span">Attendance Module</span>
            <cite class="fa-right"></cite>
        </a>
        <dl>
            <dd><a href="/Attandance/UserAttandace"><span class="sidenav-span">My Attendance</span></a></dd>

        </dl>
    </li>
    <li>
        <a href="javascript:void(0);">
            <i class="fa fa-table sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span">Leave Module</span>
            <cite class="fa-right"></cite>
        </a>
        <dl>
            <dd><a href="/Leave/LeaveApply"><span class="sidenav-span">Apply Leave</span></a></dd>

        </dl>
    </li>

    <li>
        <a href="javascript:void(0);">
            <i class="fa fa-table sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span">Project Modules</span>
            <cite class="fa-right"></cite>
        </a>
        <dl>
            <dd><a href="/User/UserAssignTask"><span class="sidenav-span">Task List</span></a></dd>
            <dd><a href="/User/OpenTask"><span class="sidenav-span">Open Task</span></a></dd>
            <dd><a href="/User/ReOpenTask"><span class="sidenav-span">Re-Open Task</span></a></dd>
            <dd><a href="/User/CompletedTask"><span class="sidenav-span">Completed Task</span></a></dd>
        </dl>
    </li>
    <li>
        <a href="/ChatHub/ChatPrivate">
            <i class="fa fa-comments-o" aria-hidden="true"></i>

            <span class="sidenav-span">Chat</span>
        </a>
    </li>
    <li>
        <a href="/Manage/ChangePassword">
            <i class="fa fa-key sidenav-fa" aria-hidden="true"></i>
            <span class="sidenav-span">Change Password</span>
        </a>
    </li>

</ul>